<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html dir="ltr" lang="en" class="ie8">
   <![endif]-->
   <!--[if IE 9 ]>
   <html dir="ltr" lang="en" class="ie9">
      <![endif]-->
      <!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
   <!--<![endif]-->
   <!-- Added by HTTrack -->
   <meta http-equiv="content-type" content="text/html;charset=utf-8" />
   <!-- /Added by HTTrack -->
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{{title}}</title>
      <base href="{{base}}" />
      {% if description %}
      <meta name="description" content="{{description}}" />
      {% endif %}
      {% if keywords %}
         <meta name="keywords" content= "{{keywords}}" />
      {% endif %}
      {% if images %}
         <meta property="og:image" itemprop="thumbnailUrl" content="{{images}}"/>
      {% endif %}

      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      {% if icon %}
         <link href="{{icon}}" rel="icon" />
      {% endif %}
      {% if links %}
         {% for link in links %}
               <link href="{{link.href}}" rel="{{link.rel}}" />
         {% endfor %}
      {% endif %}
            <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js"></script>
            <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js"></script>
            <script src="catalog/view/javascript/jquery/owl-carousel/owl.carousel.min.js"></script>
            <script src="catalog/view/javascript/jquery.countdown.min.js"></script>
            <script src="catalog/view/javascript/jquery.countdown.js"></script>
            <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
            <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/magnific/magnific-popup.css" />
            <link rel="stylesheet" type="text/css" href="catalog/view/theme/lima-innovation/stylesheet/megnor/lightbox.css" />
            <link rel="stylesheet" type="text/css" href="catalog/view/theme/lima-innovation/stylesheet/megnor/carousel.css" />
            <link rel="stylesheet" type="text/css" href="catalog/view/theme/lima-innovation/stylesheet/megnor/custom.css" />
            <link rel="stylesheet" type="text/css" href="catalog/view/theme/lima-innovation/stylesheet/megnor/bootstrap.min.css" />
            <link rel="stylesheet" type="text/css" href="catalog/view/theme/lima-innovation/stylesheet/megnor/animate.css" />
            <link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/owl-carousel/owl.carousel.css" />
            <link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/owl-carousel/owl.transitions.css" />
            <link href="catalog/view/javascript/jquery/swiper/css/swiper.min.css" type="text/css" rel="stylesheet" media="screen" />
            <link href="catalog/view/javascript/jquery/swiper/css/opencart.css" type="text/css" rel="stylesheet" media="screen" />
            <link href="catalog/view/javascript/jquery/magnific/magnific-popup.css" type="text/css" rel="stylesheet" media="screen" />
            <link href="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" />
            <link href="catalog/view/theme/lima-innovation/stylesheet/stylesheet.css" rel="stylesheet" />
            <script src="catalog/view/javascript/jquery/swiper/js/swiper.jquery.js"></script>
            <script src="catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js"></script>
            <script src="catalog/view/javascript/jquery/datetimepicker/moment/moment.min.js"></script>
            <script src="catalog/view/javascript/jquery/datetimepicker/moment/moment-with-locales.min.js"></script>
            <script src="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js"></script>
            <link href="image/catalog/cart.png" rel="icon" />
            <!-- Megnor www.templatemela.com - Start -->
            <script src="catalog/view/javascript/megnor/custom.js"></script>
            <script src="catalog/view/javascript/megnor/jstree.min.js"></script>
            <script src="catalog/view/javascript/megnor/carousel.min.js"></script>
            <script src="catalog/view/javascript/megnor/megnor.min.js"></script>
            <script src="catalog/view/javascript/megnor/jquery.custom.min.js"></script>
            <script src="catalog/view/javascript/megnor/jquery.formalize.min.js"></script>
            <script src="catalog/view/javascript/megnor/jquery.elevatezoom.min.js"></script>
            <script src="catalog/view/javascript/megnor/bootstrap-notify.min.js"></script>  
            <script src="catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js"></script>
            <script src="catalog/view/javascript/megnor/tabs.js"></script>
            <script src="catalog/view/javascript/megnor/jquery.hoverdir.js"></script>
            <script src="catalog/view/javascript/megnor/modernizr.js"></script>
            <script src="catalog/view/javascript/lightbox/lightbox-2.6.min.js"></script>
            <!-- ======= Quick view JS ========= -->
      <!-- ======= Quick view JS ========= -->
      <script> 
         function quickbox(){
          if ($(window).width() > 767) {
             $('.quickview-button').magnificPopup({
               type:'iframe',
               delegate: 'a',
               preloader: true,
               tLoading: 'Loading image #%curr%...',
             });
          }  
         }
         jQuery(document).ready(function() {quickbox();});
         jQuery(window).resize(function() {quickbox();});
         
      </script>
      <!-- Megnor www.templatemela.com - End -->
      <script src="catalog/view/javascript/common.js"></script>
   </head>
   <body class="common-home   layout-1">

      <div id="fb-root"></div>
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v8.0&appId=1073484599365702&autoLogAppEvents=1" nonce="ICkbhLvO"></script>
      <!-- Load Facebook SDK for JavaScript -->
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v9.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>


      <nav id="top">
         <div class="container">
            <div class="row">
               <div class="col-lg-7 col-md-8 col-sm-6 col-xs-6">
                  <div class="cnt-block">
                    <ul class="list-unstyled list-inline">
                        <li><a href="{{login}}"><i class="fa fa-user"></i> {{text_account}} </a></li>
                        {{ language }}
                    </ul>
                    <!-- /.list-unstyled -->
                </div>
               </div>
               <div class="col-lg-5 col-md-4 col-sm-6 hidden-xs header-top-right collapsed-block ">
                     <ul class="top-link list-inline lang-curr">
                        <li class="telephone">
                          <a href="tel: {{telephone}}"><i class="fa fa-phone-square"></i>{{telephone}}</a>
                        </li>
                        <li class="email">
                          <a href="mailto: {{email}}"><i class="fa fa-phone-square"></i>{{email}}</a>
                        </li>
                     </ul>
               </div>
            </div>
         </div>
      </nav>
      <header>

         <div class="header_top">
            <div class="container">
               <div class="row">
                  <div class="col-sm-3 col-xs-12 header-logo">
                     <div id="logo"><a href="{{base}}"><img src="{{logo}}" title="{{name}}" alt="{{name}}" class="img-responsive" /></a></div>
                  </div>
                  <div class="col-sm-6 col-xs-12 header_search">
                     <div id="searchbox" class="input-group searchtoggle">
                        <div class="search_box">
                           <select name="category_id" class="form-control-select">
                              <option value="0">{{text_category}}</option>
                              {% for category_1 in categories %}

                              <option value="{{category_1.category_id}}"> {{category_1.name}}</option>
                              {% endfor %}
                              
                           </select>
                        </div>
                        <input type="text" name="search" value="" placeholder="Tìm kiếm sản phẩm mong muốn..." class="form-control input-lg" />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-lg">{{text_search}}</button>
                        </span>
                     </div>
                  </div>
                  <div class="account">
                     <div class="header_wishlist"><a href="#" id="wishlist-total"><span>0</span></a></div>
                     <div class="col-sm-3 header_cart">
                        <div id="cart" class="btn-group btn-block">
                           <button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="btn btn-inverse btn-block btn-lg dropdown-toggle">
                              <div class="cart_detail">
                                 <div class="cart_image"></div>
                                 <span id="cart-total"><span class="item-count">{{items}}</span></span>
                              </div>
                           </button>
                           <ul class="dropdown-menu pull-right cart-menu">
                              <li>
                                 <p class="text-center">Your shopping cart is empty!</p>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      <div class="header_bottom_cover">
         <div class="header_bottom">
            <div class="container">
               <div class="row">
                  <div class="box-category-top">
                     <div class="box-heading" style="color:#fff;"><i class=" fa fa-bars"></i>{{text_category}}</div>
                  </div>
                  <div class="box-content-category">
                     {{menu}}
                  </div>
                  <div class="header_center">
                     <nav class="nav-container">
                        <div class="nav-inner">
                           <!-- ======= Menu Code START ========= -->
                           <!-- Opencart 3 level Category Menu-->
                           <div id="menu" class="main-menu">
                              <div id="res-menu" class="main-menu nav-container1 responsive-menu">
                                 <div class="nav-responsive">
                                    <div class="expandable"><i class="fa fa-bars"></i></div>
                                 </div>
                                 <span class="res-menu-close">
                                    <svg width="64" version="1.1" xmlns="http://www.w3.org/2000/svg" height="64" viewBox="0 0 64 64" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 64 64">
                                       <g>
                                          <path fill="#1D1D1B" d="M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59   c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59   c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0   L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z"/>
                                       </g>
                                    </svg>
                                 </span>
                                 <ul class="main-navigation">
                                    <li><a href="{{base}}">Trang Chủ</a></li>
                                    {% if categories %}
                                    <li>
                                       <a href="{{categories.href}}">{{text_category}}</a>
                                       <ul>
                                        {% for category in categories %}
                                          <!-- 2 Level Sub Categories START -->
                                          <li class="dropdown">
                                             <a href="{{category.href}}">{{category.name}}</a>
                                             {% if category.children %}           
                                             <ul class="col14">
                                                {% for children in category.children %}
                                                <li><a href="{{children.href}}">{{children.name}}</a></li>
                                                {% endfor %}
                                                
                                             </ul>
                                             {% endif %}
                                          </li>
                                        {% endfor %}
                                          <!-- 2 Level Sub Categories END -->
                                       </ul>
          
                                    </li>
                                    {% endif %}
                                 </ul>
                              </div>
                              <div class="static-menu">
                                 <ul id="static-menu">
                                    <li><a href="{{base}}">{{text_home}}</a></li>
                                    <li class="hot menu-item"><a href="{{about}}">{{text_about}}</a></li>
                                    <li class="toplink"><a href="{{solution}}">{{text_solution}}</a></li>
                                    <li class="toplink"><a href="{{project}}">{{text_project}}</a></li>
                                    <li class="toplink"><a href="{{price}}">{{text_price}}</a></li>
                                    <li class="toplink"><a href="{{blog}}">Blogs</a></li>
                                    <li class="menu-item"><a href="{{contact}}">{{text_contact}}</a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </header>
      <div class="content-top-breadcum">
         <div class="container">
            <div class="row">
               <div id="title-content"> </div>
            </div>
         </div>
      </div>


