{{header}}
<style>
{{custom_style}}
</style>
<div id="information-information" class="main-container container res">
  {% include template('partial/d_breadcrumb') %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }} single-blog">{{ content_top }}
       <h1>{{heading_title}}</h1>
        <div class="bm">
            <div class="bm-category-info clearfix">
                {% if edit %}<div class="btn-group btn-group-xs pull-right" ><a class="btn btn-default " href="{{edit}}" target="_blank"><i class="fa fa-pencil"></i> {{text_edit}}</a></div>{% endif %}
                {% if (thumb and setting.category.image_display) %}
                <div class="image"><img src="{{thumb}}" alt="{{heading_title}}" title="{{heading_title}}" class="img-responsive" /></div>
                {% endif %}
            </div>

            {% if categories %}
            <div class="bm-categories">
                <div class="row auto-clear">
                    {% for category in categories %}
                    <div class="panel panel-default">
                       <div class="panel-body">
                          <div class="blog-left-content">
                            {% if setting.category.sub_category_image %}
                                <div class="image blog-image"><img src="{{category.thumb}}" alt="{{category.title}}" title="{{category.title}}" /></div>
                            {% endif %}
                          </div>
                          <div class="blog-right-content">
                             <h5><a href="{{category.href}}"><div class="title">{{category.title}}</div></a></h5>
                             <div class="blog-desc">{{new.description}}</div>
                             <div class="read-more"> <a href="{{new.view}}">Chi Tiết</a> </div>
                          </div>
                       </div>
                    </div>
                    <div class="col-sm-{{category.col}} col-xs-4">
                        <a class="item-cateogry" href="{{category.href}}">
                            {% if setting.category.sub_category_image %}
                                <div class="image"><img src="{{category.thumb}}" alt="{{category.title}}" title="{{category.title}}" /></div>
                            {% endif %}
                            <div class="title">{{category.title}}</div>
                        </a>
                    </div>
                    {% endfor %}
                </div>

            </div>
            {% endif %}
            {% if posts %}
                {% include template(layout_template) with posts %}
            {% endif %}

            {% if not posts and post_display_on_main == false %}
                <p class="bm-empty">{{text_empty}}</p>
                <div class="buttons">
                    <div class="pull-right">
                            {% include template('partial/button') with {button:{
                                link:continue, 
                                style:'primary',
                                text_button: button_continue
                        }} %}
                    </div>
                </div>
            {% endif %}
        </div>
        {{ content_bottom }}
        </div>
    </div>
   
</div>
{{ footer }}

