{{ header }}
<div id="information-information" class="main-container container res">
   <ul class="breadcrumb">
  {% for breadcrumb in breadcrumbs %}
      {% if loop.first %}
     <li><a href="{{ breadcrumb.href }}"><i class="fa fa-home"></i></a></li>
      {% else %}
     <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a> <i class="fa fa-angle-double-right"></i> </li>
     {% endif %}
  {% endfor %}
  </ul>
   <div class="row">
      {{ column_left }}
      {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
      {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
      {% else %}
      {% set class = 'col-sm-12' %}
      {% endif %}
      <div id="content" class="{{ class }}">
         <div class="blog-header">
            <h3>{{ heading_title}}</h3>
         </div>
         <div class="panel-default" >
         	{% if all_news %}
         		{% for new in all_news %}
		            <div class="panel panel-default col-lg-6 col-md-6 col-xs-12">
		               <div class="panel-body">
		                  <div class="blog-left-content">
		                     <div class="blog-image">
		                        <img src="{{new.image}}" alt="Blogs" title="Blogs" class="img-thumbnail" />
		                     </div>
		                  </div>
		                  <div class="blog-right-content">
		                     <h5><a href="{{new.view}}">{{new.title}}</a></h5>
		                     <div class="blog-date"><i class="fa fa-calendar"></i>&nbsp;{{new.date_added}}</div>
		                     <div class="blog-desc">{{new.description}}</div>
		                     <div class="read-more"> <a href="{{new.view}}">Chi Tiết</a> </div>
		                  </div>
		               </div>
		            </div>
            	{% endfor %}
        	{% endif %}
         </div>

         {{ content_bottom }}
      </div>
      {{ column_right }}
   </div>
</div>
{{ footer }}