{% if categories %}
   <ul id="nav-one" class="dropmenu box-category">
      
      {% for category in categories %}

      <li class="top_level {% if category.children %} dropdown {% endif %}">
         <a href="{{category.href}}">{{category.name}}</a>
         <div class="dropdown-menu megamenu column1">
            <div class="dropdown-inner">
               {% if category.children %}
               
               <ul class="list-unstyled childs_1">
                  <!-- 2 Level Sub Categories START -->
                  {% for children in category.children %}
                  <li class="{% if children.child %} dropdown {% endif %}">
                     <a href="{{children.href}}">{{children.name}}</a>
                     {% if children.child %}
                      <div class="dropdown-menu">
                        <div class="dropdown-inner">
                           <ul class="list-unstyled childs_2">
                              {% for childs in children.child %}
                              <li><a href="{{childs.href}}">{{childs.name}}</a></li>
                              {% endfor %}
                           </ul>
                        </div>
                      </div>
                     {% endif %}
                  </li>
                  {% endfor %}
                  <!-- 2 Level Sub Categories END -->
               </ul>
               
               {% endif %}
            </div>
         </div>
      </li>
      {% endfor %}
   </ul>
{% endif %}