{{header}}

<div id="information-information" class="container">
   <ul class="breadcrumb">
  {% for breadcrumb in breadcrumbs %}
      {% if loop.first %}
     <li><a href="{{ breadcrumb.href }}"><i class="fa fa-home"></i></a></li>
      {% else %}
     <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a> <i class="fa fa-angle-double-right"></i> </li>
     {% endif %}
  {% endfor %}
  </ul>
   <div class="row">
      {{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
      <div id="content" class="{{class}}">
         <h2 class="page-title">{{heading_title}}</h2>
         <div class="row category_thumb">
            <div class="category_description">{{meta_description}}
            {{description}}

              <div class="box-cate">
                  {% if categories %}
                    {% for category in categories %}
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <img src="{{category.thumb}}" alt="{{category.name}}">
                            <a href="{{category.href}}">{{category.name}}</a>
                        </div>  
                    {% endfor %}
                  {% endif %}
              </div>
            </div>
         </div>
         
         <h3 class="refine-search">{{text_refine}}</h3>
         <div class="category_filter">
            <div class="col-md-4 btn-list-grid">
               <div class="btn-group">
                  <button type="button" id="grid-view" class="btn btn-default grid"  title="Grid"><i class="fa fa-th"></i></button>
                  <button type="button" id="list-view" class="btn btn-default list" title="List"><i class="fa fa-th-list"></i></button>
               </div>
            </div>
            <div class="compare-total"><a href="<?php echo $compare; ?>" id="compare-total">{{text_compare}}</a></div>
            <div class="pagination-right">
               <div class="sort-by-wrapper">
                  <div class="col-md-2 text-right sort-by">
                     <label class="control-label" for="input-sort">{{text_sort}}:</label>
                  </div>
                  <div class="col-md-3 text-right sort">
                     <select id="input-sort" class="form-control" onchange="location = this.value;">
                      {% for sorts in sorts %}
                      {% if sorts.value == '%s-%s'|format(sort, order) %}
                      <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                      {% else %}
                      <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                      {% endif %}
                      {% endfor %}
                     </select>
                  </div>
               </div>
               <div class="show-wrapper">
                  <div class="col-md-1 text-right show">
                     <label class="control-label" for="input-limit">{{text_limit}}:</label>
                  </div>
                  <div class="col-md-2 text-right limit">
                     <select id="input-limit" class="form-control" onchange="location = this.value;">
                        {% for limits in limits %}
                        {% if limits.value == limit %}
                        <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
                        {% else %}
                        <option value="{{ limits.href }}">{{ limits.text }}</option>
                        {% endif %}
                        {% endfor %}
                     </select>
                  </div>
               </div>
            </div>
         </div>
         <div class="product_combine">
            {% for product in products %}
            <div class="product-layout product-list col-xs-12">
               <div class="product-block product-thumb">
                  <div class="product-block-inner">
                     <div class="image_cover">
                        <div class="image ">
                           <a href="{{product.href}}">
                              <img src="{{product.thumb}}" title="{{product.name}}" alt="{{product.name}}" class="img-responsive reg-image"/>
                           </a>
                           {% if product.percent != 100 %}
                            <span class="special-tag">{{product.percent}}%</span>
                            {% endif %}
                        </div>
                        <div class="product_hover_block">
                          <div class="action">
                             <button class="wishlist" type="button"  title="Add to Wish List " onclick="wishlist.add('{{product.product_id}}');"></button>
                             <button class="compare_button" type="button"  title="Add to compare " onclick="compare.add('{{product.product_id}}');"></button>
                          </div>
                        </div>
                     </div>
                     <div class="product-details">
                           <div class="caption">
                              <h4><a href="{{product.href}}">{{product.name}}</a></h4>

                              <p class="price">
                                  {% if product.special %}
                                  <span class="price-new">{{product.special}}</span>
                                  <span class="price-old">{{product.price}}</span>
                                  {% else %}
                                  {{product.price}}
                                  {% endif %}
                                  
                               </p>
                           </div>
                           <div class="product_hover_block">
                              <div class="action">
                                 <button type="button" class="cart_button" onclick="cart.add('{{product.product_id}}');" title="<?php echo $button_cart;?>" >{{button_cart}}</button>
                              </div>
                           </div>
                        </div>
                  </div>
               </div>
            </div>
            <script> 
               $('.total-review{{product.product_id}}').on('click', function() { 
                var t='{{product.href}}'; 
               const parseResult = new DOMParser().parseFromString(t, "text/html");
               const parsedUrl = parseResult.documentElement.textContent;
               window.location.href = parsedUrl + '&review';
               return false;
               });
            </script>
            {% endfor %}
         </div>
         <div class="pagination-wrapper">
            <div class="col-sm-6 text-left page-link">
               {{pagination}}
            </div>
            <div class="col-sm-6 text-right page-result">{{results}}</div>
         </div>
      </div>
   </div>
   {{content_bottom}}
</div>
{{footer}}
