<div class="static-cates">
	<div id="banner{{ module }}">
		<ul>
			{% if banners %}
			{% for banner in banners %}	
		   <li>
		      {% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{% endif %}
		   </li>
			{% endfor %}
			{% endif %}
		   
		</ul>
	</div>
</div>
