<div class="container">
  <div class="row">
      <div class="box category-tab">
    <!--category-tab-->
    <div class="box-heading">{{heading_title}}</div>
   
        <ul class="nav nav-tabs">
        {% for category in categories %}
            {% if loop.index0 == 0 %}
              {% set class = ' class="active"'%}
            {% else %}
              {% set class = ''%}
            {% endif %}
            <li{{class}}><a href="#tab-{{loop.index}}" data-toggle="tab">{{category.category}}</a></li>
        {% endfor %}
        </ul>

    <div class="tab-content">
        {% for products in categories %}
        {% if loop.index0 == 0 %}
          {% set class = ' active in' %}
        {% else %}
          {% set class = ''%}
        {% endif %}
        <div class="tab-pane fade{{class}}" id="tab-{{loop.index}}">
          {% for product in products.products %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                           <div class="product-block product-thumb transition">
                              <div class="product-block-inner">
                                 <div class="image_cover">
                                    <div class="image ">
                                       <a href="{{product.href}}">
                                          <img src="{{product.thumb}}" title="{{product.name}}" alt="{{product.name}}" class="img-responsive reg-image"/>
                                          
                                       </a>
                                       {% if product.percent != 100 %}
                                       <span class="special-tag">{{product.percent}}%</span>
                                       {% endif %}
                                    </div>
                                    <div class="product_hover_block">
                                       <div class="action">
                                          <button class="wishlist" type="button"  title="Add to Wish List " onclick="wishlist.add('{{product.product_id}}');"></button>
                                          <button class="compare_button" type="button"  title="Add to compare " onclick="compare.add('{{product.product_id}}');"></button>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="product-details">
                                    <div class="caption">
                                       <h4><a href="{{product.href}}">{{product.name}}</a></h4>
                                       <p class="price">
                                        {% if product.special %}
                                          <?php if($product['special']) { ?>
                                          <span class="price-new">{{product.special}}</span>
                                          <span class="price-old">{{product.price}}</span>
                                          {% else %}
                                          <span class="price-new">{{product.price}}</span>
                                          <?php } ?>
                                        {% endif %}
                                       </p>
                                    </div>
                                    <div class="product_hover_block">
                                       <div class="action">
                                          <button type="button" class="cart_button" onclick="cart.add('{{product.product_id}}');" title="{{button_cart}}" >{{button_cart}}</button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!--                   <script> 
                              $('.total-review42').on('click', function() { 
                                var t='indexbb02.html?route=product/product&amp;product_id=42'; 
                                const parseResult = new DOMParser().parseFromString(t, "text/html");
                                const parsedUrl = parseResult.documentElement.textContent;
                                window.location.href = parsedUrl + '&review';
                                return false;
                              });
                              </script> -->
                        </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
  </div>
</div>

<!--/category-tab-->