{% if position == 'content_bottom' %}
	<div class="blog-mainhead">
   <div class="container">
      <div class="row">
         <div class="box megnorblog">
            <div class="box-heading">{{heading_title}}</div>
            <div class="box-content">
               <div class="box-product  owl-carousel blogcarousel " id="blog-carousel">
               	{% if newss  %}
               		{% for new in newss %}
                  <div class="blog-item">
                     <div class="product-block">
                        <div class="blog-left">
                           <div class="blog-image">
                              <img src="{{new.thumb}}" alt="{{new.name}}" title="{{new.name}}" class="img-thumbnail" />
                              <p class="post_hover"><a class="icon zoom" title="Click to view Full Image " href="{{new.image}}" data-lightbox="example-set"><i class="fa fa-search-plus"></i> </a></p>
                           </div>
                        </div>
                        <div class="blog-right">
                           <h4><a href="{{new.href}}">{{new.name}}</a> </h4>
                           <div class="date-time"> <i class="fa fa-calendar"></i>{{new.date_added}}</div>
                           <div class="blog-desc"> {{new.description}}</div>
                           <div class="read-more"> <a href="{{new.href}}">Chi Tiết</a> </div>
                        </div>
                     </div>
                  </div>
                  {% endfor %}
                {% endif %}
               </div>
            </div>
         </div>
         <span class="blog_default_width" style="display:none; visibility:hidden"></span>
      </div>
   </div>
</div>

<script type="text/javascript"><!--
   $(document).ready(function(){
   $('.blogcarousel').owlCarousel({
      items: 2,
      autoPlay: false,
      singleItem: false,
      navigation: true,
      navigationText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
      pagination: true,
      itemsDesktop : [980,2],
      itemsDesktopSmall:[979,1],
      itemsTablet : [479,1]
    });
   });  

</script>
{# <div class="module so-latest-blog blog-sidebar">
	<h3 class="modtitle"><span>{{heading_title}}</span></h3>
	<div class="modcontent clearfix">
	   <div class="so-blog-external buttom-type1 button-type1">
	      <div class="blog-external-simple">
	      	{% if newss %}
	      		{% for new in newss %}
			      	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			         <div class="cat-wrap">
			            <div class="media">
			               <div class="item item-1">
			                  <div class="media-left">
			                     <a href="{{ new.href }}" target="_self">
			                     <img src="{{new.thumb}}" alt="{{ new.name }}" class="media-object">
			                     </a>
			                  </div>
			                  <div class="media-body">
			                     <h4 class="media-heading">
			                        <a href="{{ new.href }}" title="{{ new.name }}" target="_self">{{ new.name }}</a>
			                     </h4>
			                     <div class="media-content">
			                        <div class="media-date-added"><i class="fa fa-calendar"></i> {{ new.date_added }}</div>
			                        <div class="media-subcontent">
			                           <span class="media-comment">{{ new.description }}</span>
			                        </div>
			                     </div>
			                  </div>
			               </div>
			            </div>
			         </div>
			        </div>
	        	{% endfor %}
	        {% endif %}
	        
	      </div>
	   </div>
	</div>
</div>
{% elseif position == 'column_right' or position == 'column_left' %}
    <div class="sidebar-widget wow fadeInUp outer-bottom-xs hidden-xs">
        <h3 class="section-title">{{ heading_title }}</h3>
        <div class="box-news">
            {% for news in newss %}
                <div class="news-item">
                    <div class="blog-post row">
                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                            <div class="image"><a href="{{ news.href }}"><img src="{{ news.thumb }}" alt="{{ news.name }}"
                                                                              title="{{ news.name }}" class="img-responsive"/></a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                            <div class="blog-post-info text-left">
                                <h5 style="line-height: 18px;" class="name"><a href="{{ news.href }}">{{ news.name }}</a></h5>
                            </div>
                        </div>
                    </div>
                    <!-- /.blog-post -->
                </div>
            {% endfor %}
        </div>
        <!-- /.sidebar-widget -->
    </div>#}
{% endif %} 